<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card-title">
                New List
            </div>
            <div class="card-subtitle">
                Create a new list
            </div>
            <div class="card">
                <% if(typeof error != 'undefined'){ %>
                    <span class="alert alert-danger">
                     <strong>Error: <%= (error) ? error : "Unknown Error" %></strong>
                 </span>
                <% } %>
                <form action="/new/list" method="post">
                    <div class="form-group">
                        <label for="entryTitle">List Name</label>
                        <input type="text" class="form-control" id="title" name="title" aria-describedby="entryTitle">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">List Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="private">
                        <label class="form-check-label" for="exampleCheck1">Make private</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted"></span>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>


<%- include("partials/footer") %>